* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

.timer {
    display: flex;
    justify-content: center;
}

.timer button {
    border-radius: 10px;
    background: #007BFF;
    font-size: 72px;
    font-weight: bold;
    padding: 36px 24px;
}

.timer button:active {
    background: orange;
}

h1 {
    padding: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #1D3557;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-size: 36px;
}

.section-content {
    display: none;
}

.settings {
    display: flex;
    flex-direction: column;
}