* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-drag: none;
}

.timer {
    display: flex;
    justify-content: center;
}

.timer button {
    border-radius: 10px;
    background: #007BFF;
    font-size: 60px;
    font-weight: 1000;
    padding: 24px 24px;
}

.timer button:hover {
    background: #0056b3;
}

h1 {
    padding: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #1D3557;
}

h2 {
    text-align: center;
}

.section-content {
    display: none;
}