* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.timer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.timer button {
    border-radius: 10px;
    background: #007BFF;
    font-size: 48px;
    font-weight: bold;
    padding: 12px 30px;
}

.timer button:last-child {
    font-weight: normal;
}

.timer button:hover {
    background: red;
}

h1 {
    padding: 12px;
    text-align: center;
    color: #FFFFFF;
    background-color: #1D3557;
}

h2 {
    text-align: center;
}
